<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>가계부</h1>
        <form action="/test" method="post">
            재작년 월별 소비 금액 (쉼표로 구분하여 입력):
            <input type="text" name = "y입력2020">
            <br>
            작년 월별 소비 금액 (쉼표로 구분하여 입력): 
            <input type="text" name = "y입력2021">
            <br>
            올해 월별 소비 금액 (쉼표로 구분하여 입력): 
            <input type="text" name = "y입력2022">
            <br>
            소비 카테고리를 쉼표로 구분하여 입력하세요: 
            <input type="text" name = "소비카테고리">
            <br>
            각 카테고리에 대한 소비 금액을 쉼표로 구분하여 입력하세요: 
            <input type="text" name = "소비금액">
            <br>
            <input type="submit" value="시작">
        </form>
    </body>
</html>